[submodule "cobuild_back"]
	path = cobuild_back
	url = https://github.com/tahacmv/cobuild_back.git
	branch = main

[submodule "cobuild_front"]
	path = cobuild_front
	url = https://github.com/tahacmv/cobuild_front.git
	branch = main
